.game
  display: none

  .title
    text-align: center
    background-color: $yellow
    color: $text
    font-size: 35px
    width: 500px
    margin: 10px auto
    padding: 10px 0

  .canvas-container
    text-align: center

    canvas
      border: 10px solid $red

  .timers
    background-color: $yellow
    width: 920px
    height: 55px
    margin: 10px auto

    img
      padding-top: 5px
      height: 45px

      &:first-child
        padding-left: 10px
