$yellow = rgb(255, 215, 74)
$text   = rgb(76, 20, 244)
$blue   = rgb(13, 149, 247)
$red    = rgb(255, 0, 26)

$darkyellow = rgb(123, 128, 0)
$lightblue  = rgb(0, 245, 215)

*
  padding: 0
  margin: 0

body
  background: url('../img/Background.png')
  background-repeat: repeat

a
  color: blue
  text-decoration: none

  &:hover
    text-decoration: underline